StrictHostKeyChecking=no
UserKnownHostsFile=/dev/null
GlobalKnownHostsFile=/dev/null
LogLevel QUIET

Host jumpMe
  Hostname ccc-jump01.us.cboe.net
  ControlPath ~/.ssh/cm-%r@%h:%p
  ControlMaster auto
  ControlPersist 12h

# Use jump host for all connections to prod/dr hosts
Match host * exec "echo %h | grep -qE '^[a-zA-Z]{3}[0-9]+r[0-9]+$'"
  ProxyCommand ssh jumpMe -W %h:%p

#This next setting should be in the .bashrc on the jumpMe box
##export TMOUT=0
